<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__flex">
            <div class="footer__flex__left">
                <img class="footer__img" src="/public/img/pal-white-logo.svg" alt="Hapi Pal">
            </div>
            <div class="footer__flex__right">
                <div class="footer__nav">
                    <div class="footer__nav__wrapper">
                        <div class="footer__nav__header">Home</div>
                        <a class="footer__nav__item" href="/docs">API Docs</a>
                        <a class="footer__nav__item" href="/best-practices">Best Practices</a>
                    </div>
                </div>
                <div class="footer__nav">
                    <div class="footer__nav__wrapper">
                        <div class="footer__nav__header">Helpful Links</div>
                        <a class="footer__nav__item" href="https://github.com/hapipal/discuss">Discussion Board</a>
                        <a class="footer__nav__item" href="https://github.com/hapipal/contrib/blob/master/code-of-conduct.md">Code of Conduct</a>
                        <a class="footer__nav__item" href="https://github.com/hapipal/hapipal.com">Edit This Site</a>
                        <a class="footer__nav__item" href="https://join.slack.com/t/hapihour/shared_invite/zt-g5ortpsk-ErlnRA2rUcPIWES21oXBOg">Slack (#hapipal)</a>
                        <a class="footer__nav__item" href="https://medium.com/@hapipal">Medium Blog</a>
                        <a class="footer__nav__item" href="https://dribbble.com/Varberakis">Designer, Justin Varberakis</a>
                        <a class="footer__nav__item" href="https://hapi.dev">hapi.dev</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            Made with <img src="/public/img/heart.svg"> in Portland, Maine
        </div>
        <div class="footer__pal"></div>
    </div>
</footer>
