<div class="nav">
    <a href="/" class="nav__logo__wrapper">
        <img class="nav__logo" src="/public/img/nav-logo.svg" alt="hapi pal">
    </a>
    <div class="nav__item__wrapper">
        <div class="nav__item__wrapper--flex">
            <a class="nav__item" href="docs">
                API Docs
                <!--<div class="nav__item--dropdown">
                    <div>haute-couture</div>
                    <div>labbable</div>
                    <div>toys</div>
                </div>-->
            </a>
            <a class="nav__item" href="/best-practices">Best Practices</a>
            <a class="nav__icon" href="http://github.com/divy/hapi-pal" target="_blank">
                <img src="/public/img/github.svg" alt="hapi pal">
            </a>
        </div>
    </div>
</div>
