<div class="nav">
    <a href="/" class="nav__logo-wrapper">
        <img class="nav__logo" src="/public/img/nav-logo.svg" alt="hapi pal" />
    </a>
    <div class="nav__item-wrapper">
        <div class="nav__item-wrapper-flex">
            <a class="nav__item" href="docs">
                API Docs
                <div class="nav__item-dropdown">
                    <div>haute-couture</div>
                    <div>labbable</div>
                    <div>toys</div>
                </div>
            </a>
            <a class="nav__item" href="/">Best Practices</a>
            <a class="nav__icon" href="http://github.com/hapi-pal">
              <img src="/public/img/github.svg" alt="hapi pal" />
            </a>
        </div>
    </div>
</div>
