{{#> layout title="Best Practices" }}

    {{#*inline "content"}}
        <div class="main layout-list best-practices-list">
            <div class="wrapper">
                <h1>Best Practices</h1>
                {{#each bestPractices}}
                    <a href="/best-practices/{{this.slug}}">
                      <h2>{{this.title}}</h2>
                      <div class="img"></div>
                      <p>{{this.subtitle}}</p>
                    </a>
                {{/each}}
            </div>
        </div>
    {{/inline}}

{{/layout}}
