{{#> layout title=title }}

    {{#*inline "content"}}
        <div class="main best-practices-detail">
            <div class="nav"></div>
            <div class="wrapper">
                {{{html}}}
            </div>
        </div>
    {{/inline}}

{{/layout}}
