{{#> layout title="Docs Detail" }}

    {{#*inline "content"}}
        <div class="docs-detail">
            <div class="nav">
              <div class="select-version">
                <p><b>Reference Version: </b></p>
                <select>
                  <option value="16.0.0">v16.0.0</option>
                  <option value="17.0.0">v17.0.0</option>
                  <option value="18.0.0">v18.0.0</option>
                </select>
              </div>
              <!-- populated by js/docs-nav.js -->
            </div>
            <div class="wrapper">
                {{{html}}}
            </div>
        </div>
    {{/inline}}

{{/layout}}
