{{#> layout title="Docs Detail" }}

    {{#*inline "content"}}
        <div class="docs-detail">
            <div class="nav">
              <div class="select-version">
                <p>Reference Version: </p>
                <select class="version">
                  {{#each versions as |ver|}}
                  <option value="{{ver}}"{{#equals ver ../version}} selected="selected"{{/equals}}>v{{ver}}</option>
                  {{/each}}
                </select>
              </div>
              <!-- populated by js/docs-nav.js -->
            </div>
            <div class="wrapper">
                {{{html}}}
            </div>
        </div>
    {{/inline}}

{{/layout}}
