{{#> layout title="Docs List" }}

    {{#*inline "content"}}
        <div class="docs-list">

            <div class="wrapper">

                <ul>
                    <h1>API Docs</h1>
                    {{#each list}}
                        <li>
                            <a href="/docs/{{this.name}}">{{this.name}}</a>
                            <p><img src="/public/img/hapi-bolt-gold.svg" /> Hapi Pal CLI Hapi Pal CLI Hapi Pal CLI Hapi Pal CLI Hapi Pal CLI </p>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/inline}}

{{/layout}}
