{{#> layout title="Docs List" }}

    {{#*inline "content"}}
        <div class="main docs-list">

            <div class="wrapper">
                <h1>API Docs</h1>
                {{#each packages}}
                    <a href="/docs/{{this.name}}">{{this.name}}
                      <div class="img"></div>
                      <p>{{this.subtitle}}</p>
                    </a>
                {{/each}}
            </div>
        </div>
    {{/inline}}

{{/layout}}
