{{#> layout title="Docs Detail" }}

    {{#*inline "content"}}
        <div class="docs-detail container">
            <div class="wrapper">
                {{{html}}}
            </div>
        </div>
    {{/inline}}

{{/layout}}
