{{#> layout title="Docs List" }}

    {{#*inline "content"}}
        <div class="docs-list container">
            <div class="wrapper">
                <ul>
                    {{#each list}}
                        <li>
                            <a href="/docs/{{this.name}}">{{this.name}}</a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/inline}}

{{/layout}}
