{{#> layout title="Docs List" }}

    {{#*inline "content"}}
        <ul>
            {{#each list}}
                <li>
                    <a href="/docs/{{this.name}}">{{this.name}}</a>
                </li>
            {{/each}}
        </ul>
    {{/inline}}

{{/layout}}
