{{#> layout title="Docs Detail" }}

    {{#*inline "content"}}
        <div class="docs-detail">
            <div class="nav">
              <div class="select-version">
                <p>Reference Version: </p>
                <select class='version'>
                  <option value="16.0.0">16.0.0</option>
                  <option value="17.0.0">17.0.0</option>
                  <option value="18.0.0">18.0.0</option>
                </select>
              </div>
              <!-- populated by js/docs-nav.js -->
            </div>
            <div class="wrapper">
                {{{html}}}
            </div>
        </div>
    {{/inline}}

{{/layout}}
