{{#> layout title="Oops!" }}

    {{#*inline "content"}}
        <div class="main container">
            <div class="wrapper error">
                {{statusCode}}: {{message}}
            </div>
        </div>
    {{/inline}}

{{/layout}}
