{{#> layout title="Home" }}

    {{#*inline "content"}}

        <div class="main container">

            <div class="hero">
                <div class="hero__wrapper">
                    <img class="hero__img hero__img--full" src="/public/img/pal-full-logo.svg" alt="hapi pal">
                    <img class="hero__img hero__img--mobile" src="/public/img/pal-full-logo-mobile.svg" alt="hapi pal">
                    <div class="hero__img__content">
                        <p>
                            <span class="maybe-break">an ecosystem of tools and best practices</span>
                            <span class="maybe-break">for the working hapijs developer</span>
                        </p>
                        <div id="codeBox" class="code">
                            <span>$</span>
                            <input id="code" class="code__value" value="npx pal new my-project" size="22" readonly />
                            <div class="code__cursor"></div>
                            <div id="codeBoxButton" class="code__copy tooltip">
                              <div class="code__copy__img"></div>
                              <div class="tooltip__container">
                                <div class="tooltip__text tooltip__text--bottom">Copy to clipboard</div>
                              </div>
                            </div>
                        </div>
                        <img class="code__shadow" src="/public/img/drop-shadow.png">
                    </div>
                </div>
            </div>

            <div class="highlight">
                <div class="highlight__wrapper">
                    <h2>hapijs and pal are <span class="maybe-break"><b>good teammates</b></span></h2>
                    <p>
                        Writing scalable web services is hard work, and we don't think there's any way around that.
                    </p>
                    <p>
                        Rather than perpetually seeking the mythical "silver bullet" web framework, we've invested years of energy in reliable tooling, best practices, and sensible conventions that make fully utilizing hapijs feel organic and approachable.
                    </p>
                    <div class="highlight__grid">
                        <div class="highlight__grid__item green">
                            <a href="https://github.com/hapipal/hpal" target="_blank">
                                <div class="highlight__grid__item__img green" alt="hpal"></div>
                                <div class="highlight__grid__item__content green">
                                    <h5>hpal</h5>
                                </div>
                            </a>
                            <h6>A CLI to help you scaffold projects, author and run custom commands, and search docs</h6>
                        </div>
                        <div class="highlight__grid__item orange">
                            <a href="https://github.com/hapipal/boilerplate" target="_blank">
                                <div class="highlight__grid__item__img orange" alt="boilerplate"></div>
                                <div class="highlight__grid__item__content orange">
                                    <h5>boilerplate</h5>
                                </div>
                            </a>
                            <h6>A friendly, proven starting place for your next hapi project based on 12-factor principles</h6>
                        </div>
                        <div class="highlight__grid__item blue">
                            <a href="https://github.com/hapipal/schwifty" target="_blank">
                                <div class="highlight__grid__item__img blue" alt="schwifty"></div>
                                <div class="highlight__grid__item__content blue">
                                    <h5>schwifty</h5>
                                </div>
                            </a>
                            <h6>A model layer integrating <a href="https://github.com/Vincit/objection.js" target="_blank">Objection ORM</a>, designed to play nice with hapi and joi</h6>
                        </div>
                    </div>
                    <div class="highlight__subtext">
                        And there's <b>a lot</b> more to explore, including
                        <span class="highlight__subtext-item green">a <a href="https://github.com/hapipal/hpal"><b>CLI tool</b></a> to scaffold projects and search docs,</span>
                        <span class="highlight__subtext-item blue">a <a href="https://github.com/hapipal/schwifty"><b>model layer</b></a> integrating <a href="https://github.com/Vincit/objection.js" target="_blank">Objection ORM</a>,</span>
                        an <a href="https://github.com/hapipal/underdog"><b>HTTP/2 server-push</b></a> plugin,
                        a tool to <a href="https://github.com/hapipal/hecks"><b>interop with express</b></a> for migrating to hapi or unifying deployments,
                        a <a href="https://github.com/hapipal/schmervice"><b>service layer</b></a> that integrates with hapi caching,
                        and a <a href="https://github.com/hapipal/toys"><b>suite of utilities</b></a> that speak to common hapi patterns.
                    </div>
                    <div class="highlight__action">
                        <a href="/docs">
                            <div class="highlight__action__icon"></div>
                            View all modules
                        </a>
                    </div>
                </div>
            </div>

            <div class="sponsor">
                <div class="sponsor__wrapper">
                    <h3>Sponsored by</h3>
                    <div class="sponsor__grid">
                        <a class="sponsor__img-link" href="https://www.bigroomstudios.com" target="_blank">
                            <img src="/public/img/big-room-studios.svg" alt="Big Room Studios" />
                        </a>
                        <div class="sponsor__border"></div>
                        <div class="sponsor__content">
                          <p>
                              We are a digital design and software engineering agency
                              specializing in custom web app solutions, UX design, and virtual reality.
                              We live in the space where technology, design-thinking, and humanity
                              meet to make smarter software.
                          </p>
                          <div class="sponsor__content__action">
                              <a href="https://www.bigroomstudios.com" target="_blank"> Learn more about our services
                                  <img class="sponsor__content__action__icon" src="/public/img/arrow-right.svg" alt="Go to services">
                              </a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="newsletter">
                <div class="newsletter__wrapper">
                    <img class="newsletter__img" src="/public/img/pal.svg" alt="Big Room Studios">
                    <div class="newsletter__form">
                        <p>Subscribe to our newsletter to get the latest hapi pal updates, along with occasional tips on being a better pal.</p>
                        <form id="newsletterForm" method="post">
                            <input type="email" value="" name="email" placeholder="you@domain.com" id="newsletterEmail" class="newsletter__input" required>
                            <input type="submit" value="Subscribe" name="subscribe" class="newsletter__input__button">
                        </form>
                        <div id="newsletterMessage" class="newsletter__message">Working...</div>
                    </div>
                </div>
            </div>

        </div>

    {{/inline}}

{{/layout}}
