{{#> layout title="Home" }}

    {{#*inline "content"}}

        <div class="main container">

            <div class="hero">
                <div class="hero__wrapper">
                    <img class="hero__img hero__img--full" src="/public/img/pal-full-logo.svg" alt="hapi pal">
                    <img class="hero__img hero__img--mobile" src="/public/img/pal-full-logo-mobile.svg" alt="hapi pal">
                    <div class="hero__img__content">
                        <p>
                            <span class="maybe-break">an ecosystem of tools and best practices</span>
                            <span class="maybe-break">for the working hapijs developer</span>
                        </p>
                        <div id="codeBox" class="code">
                            <span>$</span>
                            <input id="code" class="code__value" value="npx pal new my-project" size="23" readonly />
                            <div class="code__cursor"></div>
                            <div id="codeCopied" class="code__copied"><img src="/public/img/copy.svg"> copied!</div>
                        </div>
                        <img class="code__shadow" src="/public/img/drop-shadow.png">
                    </div>
                </div>
            </div>

            <div class="highlight">
                <div class="highlight__wrapper">
                    <h2>Neat Header</h2>
                    <p>hapijs is an incredibly rich web framework that is designed to scale not only across servers, but also development teams. However, with great power comes a lot to learn and loads of decisions to make. This is where hapi pal comes in.</p>
                    <div class="highlight__grid">
                        <div class="highlight__grid__item">
                            <a href="https://github.com/devinivy/boilerplate-api" target="_blank">
                                <div class="highlight__grid__item__img orange" alt="boilerplate"></div>
                                <div class="highlight__grid__item__content">
                                    <h5>boilerplate</h5>
                                    <h6>A friendly proven starting place for your next hapi plugin or deployment</h6>
                                </div>
                            </a>
                        </div>
                        <div class="highlight__grid__item">
                            <a href="https://github.com/devinivy/haute-couture" target="_blank">
                                <div class="highlight__grid__item__img green" alt="hapi pal"></div>
                                <div class="highlight__grid__item__content">
                                    <h5>haute-couture</h5>
                                    <h6>File-based hapi plugin composer</h6>
                                </div>
                            </a>
                        </div>
                        <div class="highlight__grid__item">
                            <a href="https://github.com/bigroomstudios/schwifty" target="_blank">
                                <div class="highlight__grid__item__img blue " alt="hapi pal"></div>
                                <div class="highlight__grid__item__content">
                                    <h5>schwifty</h5>
                                    <h6>A hapi plugin integrating Objection ORM</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="highlight__action">
                        <a href="" target="_blank">
                            <img class="highlight__action__icon" src="/public/img/button.svg" alt="view all modules">
                            <span>View all modules</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="sponsor">
                <div class="sponsor__wrapper">
                    <h3>Sponsored by</h3>
                    <div class="sponsor__grid">
                        <img class="sponsor__img" src="/public/img/big-room-studios.svg" alt="Big Room Studios">
                        <div class="sponsor__border"></div>
                        <div class="sponsor__content">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                          nisi ut aliquip ex ea commodo consequat.</p>
                          <div class="sponsor__content__action">
                              <a href="https://www.bigroomstudios.com" target="_blank"> Learn more about our services
                                  <img class="sponsor__content__action__icon" src="/public/img/arrow-right.svg" alt="services">
                              </a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="newsletter">
                <div class="newsletter__wrapper">
                    <img class="newsletter__img" src="/public/img/pal.svg" alt="Big Room Studios">
                    <div class="newsletter__form">
                        <p>Subscribe to our newsletter to get the latest hapi-pal updates,
                        along with occasional tips on being a better pal.</p>
                        <form id="newsletterForm" method="post">
                            <input type="email" value="" name="email" placeholder="pal@hapipal.com" id="newsletterEmail" class="newsletter__input" required>
                            <input type="submit" value="Subscribe" name="subscribe" class="newsletter__input__button">
                        </form>
                        <div id="newsletterMessage" class="newsletter__message">Working...</div>
                    </div>
                </div>
            </div>

        </div>

    {{/inline}}

{{/layout}}
